@import "../../styles/variables.scss";

.user {
  display: flex;

  .view {
    min-height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex: 1;

    .info {
      align-self: flex-start;
      .topInfo {
        display: flex;
        align-items: center;
        gap: 20px;

        img {
          width: 100px;
          height: 100px;
          border-radius: 20px;
          object-fit: cover;
        }

        h1 {
          font-weight: 500;
        }

        span {
          font-size: 32px;
          color: $main-color;
        }
      }
      .details {
        font-size: 18px;

        .item {
          margin: 30px 0px;

          .itemTitle {
            font-weight: 600;
            margin-right: 10px;
            text-transform: capitalize;
          }
        }
      }
    }

    hr {
      align-self: flex-start;
      width: 90%;
      height: 0;
      border: 0.5px solid gray;
      margin: 20px 0px;
    }

    .chart {
      align-self: flex-start;
      margin-top: 50px;
      width: 80%;
      height: 400px;
    }
  }
  .activities {
    flex: 1;

    h2 {
      margin-bottom: 20px;
    }

    ul {
      li {
        list-style-type: none;
        position: relative;
        width: 1px;
        padding-top: 50px;
        background-color: #f45b69;

        &::after {
          content: "";
          position: absolute;
          left: 50%;
          bottom: 0;
          width: 10px;
          height: 10px;
          border-radius: 50%;
          background-color: #f45b69;
          transform: translateX(-50%);
        }

        div {
          min-width: 480px;
          padding: 15px;
          background-color: #f45b6810;

          p {
            margin-bottom: 5px;
          }

          time {
            font-size: 12px;
          }
        }
      }
    }
  }

  .empty {
    font-size: 24px;
    padding: 8px;
    border-radius: 4px;
    background-color: $main-color;
    color: $dark-color;
    user-select: none;
  }
}
