.users {
  .info {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 16px;
  }

  button {
    padding: 6px;
    cursor: pointer;
    border-radius: 4px;
    border: none;
    outline: none;
  }
}
